.ui.bottom {
  padding-top: 6%;
  padding-bottom: 12%;

  .header {
    font-size: 16px;
    letter-spacing: 3px;
    margin-bottom: 24px;
    text-align: right;
    text-transform: uppercase;
  }

  .list {
    .item {
      text-align: right;
      padding-right: 3px;
      margin-bottom: 8px;
      color: rgba(0, 0, 0, .75);
    }
  }

  @media only screen and (max-width: 767px) {
    .header {
      text-align: left;
    }

    .list {
      .item {
        text-align: left;
      }
    }

    .content {
      padding-bottom: 24px;
    }
  }
}
