.ui.hero {
  background: #f0f0f0;

  .item {
    .content {
      // height: 600px;
      display: flex;
      align-items: center;
      padding-top: 12%;
      padding-bottom: 16%;
    }

    .header {
      font-size: 48px;
      margin: 0;
      margin-bottom: 16px;
    }

    .sub.header {
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin-bottom: 8px;
    }

    .description {
      font-size: 18px;
      margin-bottom: 32px;
      font-weight: 600;
    }
  }

  @media only screen and (min-width: 1200px) {
    .item {
      .content {
        height: 600px;
      }
    }
  }
}
