.ui.sidebar {
  background: #fff;

  .menu {
    display: flex;
    flex-direction: column;
    text-align: right;
  }

  .menu .item {
    padding: 16px;
    padding-right: 24px;
    font-size: 18px;
    color: #000;

    &.active {
      background: #f8f8f8;
    }

    &:hover {
      background: #fbfbfb;
    }
  }

  .close-icon {
    height: 50px;
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
}
